@model SettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings";
}

<div class="container">
    <form method="post" asp-action="settings">
        <h3>OpenAI</h3>
        <div class="form-group">
            <label asp-for="OpenAI.ApiKey">OpenAI Key:</label>
            <input asp-for="OpenAI.ApiKey" class="form-control"/>
            @Html.ValidationMessageFor(m => m.OpenAI.ApiKey)
        </div>
        <div class="form-group">
            <label asp-for="OpenAI.Model">OpenAI Model:</label>
            <input asp-for="OpenAI.Model" class="form-control"/>
            @Html.ValidationMessageFor(m => m.OpenAI.Model)
        </div>
        
        <h3>NovelAI</h3>
        <div class="form-group">
            <label asp-for="NovelAI.Token">NovelAI Token:</label>
            <input asp-for="NovelAI.Token" class="form-control"/>
            @Html.ValidationMessageFor(m => m.NovelAI.Token)
        </div>
        <div class="form-group">
            <label asp-for="NovelAI.Model">NovelAI Model:</label>
            <input asp-for="NovelAI.Model" class="form-control"/>
            @Html.ValidationMessageFor(m => m.NovelAI.Model)
        </div>
        
        <h3>KoboldAI</h3>
        <div class="form-group">
            <label asp-for="KoboldAI.Uri">KoboldAI Uri:</label>
            <input asp-for="KoboldAI.Uri" class="form-control"/>
            @Html.ValidationMessageFor(m => m.KoboldAI.Uri)
        </div>
        
        <h3>Profile</h3>
        <div class="form-group">
            <label asp-for="Profile.Name">Profile Name:</label>
            <input asp-for="Profile.Name" class="form-control"/>
            @Html.ValidationMessageFor(m => m.Profile.Name)
        </div>
        <div class="form-group">
            <label asp-for="Profile.Description">Profile Description:</label>
            <input asp-for="Profile.Description" class="form-control"/>
            @Html.ValidationMessageFor(m => m.Profile.Description)
        </div>
        
        <h3>Options</h3>
        <div class="form-group">
            <label asp-for="Profile.EnableSpeechRecognition">Pause Speech Recognition During Playback: <span class="text-muted">Enable speech recognition</span></label>
            <input asp-for="Profile.EnableSpeechRecognition" type="checkbox" class="form-check-input"/>
            @Html.ValidationMessageFor(m => m.Profile.EnableSpeechRecognition)
        </div>
        <div class="form-group">
            <label asp-for="Profile.PauseSpeechRecognitionDuringPlayback">Pause Speech Recognition During Playback: <span class="text-muted">Turn off to allow interruptions, requires a headset</span></label>
            <input asp-for="Profile.PauseSpeechRecognitionDuringPlayback" type="checkbox" class="form-check-input"/>
            @Html.ValidationMessageFor(m => m.Profile.PauseSpeechRecognitionDuringPlayback)
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ValidationSummary(true)
    </form>
</div>