@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Voxta.Services.AzureSpeechService
@using Voxta.Services.Fakes
@using Voxta.Services.Oobabooga
@using Voxta.Services.OpenAI
@using Voxta.Services.Vosk
@model Voxta.Abstractions.Model.ProfileSettings
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - Profile";
}

<div class="container">
    <h1>Profile Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Your profile is what the AI will call you, and how it will "see" you.</p>
        </div>
    </div>
    
    <form method="post" asp-action="PostProfileSettings">
        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Name">Profile name</label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Description">Profile description</label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Default Services</h2>
            </div>
            <div class="card-body">
                <h3>Speech To Text</h3>
                <p>This is the engine that listens to what you say and convert it to text.</p>
                <div class="mb-3">
                    <label asp-for="Services.SpeechToText.Service">Speech To Text Service</label>
                    <select asp-for="Services.SpeechToText.Service" class="form-control">
                        <option value="">None</option>
                        <option value="@VoskConstants.ServiceName">Vosk</option>
                        <option value="@AzureSpeechServiceConstants.ServiceName">Azure Speech Service</option>
                    </select>
                    <span asp-validation-for="Services.SpeechToText.Service" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input asp-for="PauseSpeechRecognitionDuringPlayback" type="checkbox" class="form-check-input"/>
                    <label asp-for="PauseSpeechRecognitionDuringPlayback">Pause Speech Recognition During Playback</label>
                    <div class="form-text"><div class="form-text"></div></div>
                    <span asp-validation-for="PauseSpeechRecognitionDuringPlayback" class="text-danger"></span>
                </div>

                <h3>Action Inference</h3>
                <p>This is what allows the model to determine actions they can take after speaking.</p>
                <div>
                    <label asp-for="Services.ActionInference.Service">Action Inference Service</label>
                    <select asp-for="Services.ActionInference.Service" class="form-control">
                        <option value="">None</option>
                        <option value="@OpenAIConstants.ServiceName">OpenAI</option>
                        <option value="@OobaboogaConstants.ServiceName">Text Generation Web UI</option>
                        <option value="@FakesConstants.ServiceName">Fakes (for testing)</option>
                    </select>
                    <span asp-validation-for="Services.ActionInference.Service" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
</div>