@using Voxta.Services.NovelAI
@model Voxta.Server.ViewModels.ServiceSettings.NovelAISettingsViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Settings - NovelAI";
}

<div class="container">
    <h1>NovelAI Settings</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Help</h2>
        </div>
        <div class="card-body">
            <p>Login to <a href="https://novelai.net/" target="_blank">novelai.net</a>, go to settings, Account, and Get Persistent API Token.</p>
        </div>
    </div>
    
    <form id="configureForm" method="post" asp-action="PostNovelAISettings">
        <partial name="ServiceSettings/_CommonSettings" model="@Model"/>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Configuration</h2>
            </div>
            <div class="card-body">
                <div>
                    <label asp-for="Token">API Key</label>
                    <input asp-for="Token" class="form-control"/>
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-header">
                <h2>Text Configuration</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Model">Model</label>
                    <select asp-for="Model" class="form-select">
                        <option value="@NovelAISettings.ClioV1">Clio</option>
                        <option value="@NovelAISettings.KayraV1">Kayra</option>
                    </select>
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <partial name="ServiceSettings/_LLMServiceSettings" model="@Model" />
                <partial name="ServiceSettings/_JSONParametersServiceSettings" model="@Model" />
            </div>
        </div>
        

        <div class="card mb-3">
            <div class="card-header">
                <h2>Speech Configuration</h2>
            </div>
            <div class="card-body">
                <div>
                    <label asp-for="ThinkingSpeech">Thinking speech</label>
                    <textarea rows="6" asp-for="ThinkingSpeech" class="form-control"></textarea>
                    <div class="form-text">Those are generated sounds while the AI thinks and speech gets generated. One per line.</div>
                    <span asp-validation-for="ThinkingSpeech" class="text-danger"></span>
                </div>
            </div>
        </div>

        <partial name="ServiceSettings/_FormFooter" model="@Model"/>
    </form>
</div>
