@using Voxta.Abstractions.Model
@model CharacterViewModelWithOptions
@{
    Layout = "_Layout";
    ViewBag.Title = Model.Character.Name;
}

<div class="container py-3">
    <h1>@(Model.Character.ReadOnly ? "View" : "Edit") Character</h1>

    
    <form method="post" action="/characters/@Model.Character.Id">
        <input type="hidden" asp-for="Character.Id" class="form-control" readonly="readonly"/>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Character Card</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Character.Name">Name</label>
                    <input asp-for="Character.Name" class="form-control"/>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Name)</small>
                </div>

                <div class="mb-3">
                    <label asp-for="Character.CreatorNotes">Creator Notes: <span class="text-muted">Only for display</span></label>
                    <input asp-for="Character.CreatorNotes" class="form-control"/>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.CreatorNotes)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.Description">Description</label>
                    <textarea asp-for="Character.Description" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Description)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.Personality">Personality</label>
                    <textarea asp-for="Character.Personality" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Personality)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.Scenario">Scenario</label>
                    <textarea asp-for="Character.Scenario" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Scenario)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.FirstMessage">First Message</label>
                    <textarea asp-for="Character.FirstMessage" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.FirstMessage)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.MessageExamples">Message Examples</label>
                    <textarea asp-for="Character.MessageExamples" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.MessageExamples)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.SystemPrompt">System Prompt</label>
                    <textarea asp-for="Character.SystemPrompt" class="form-control"></textarea>
                    <div class="form-text">Required, most downloaded characters rely on a built-in one and will be empty.</div>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.SystemPrompt)</small>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Character.PostHistoryInstructions">Post History Instructions: <span class="text-muted">Also known as UJB</span></label>
                    <textarea asp-for="Character.PostHistoryInstructions" class="form-control"></textarea>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.PostHistoryInstructions)</small>
                </div>
                
                <p class="d-flex justify-content-end mt-3">
                    <a href="https://github.com/malfoyslastname/character-card-spec-v2" target="_blank">Character Card Spec V2</a>
                </p>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-header">
                <h2>Prerequisites</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Character.Culture">Culture</label>
                    <input asp-for="Character.Culture" class="form-control"/>
                    <div class="form-text">Affects which LLM, STT and TTS will be used for this character. Uses <a href="https://en.wikipedia.org/wiki/IETF_language_tag" target="_blank">BCP-47</a>.</div>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Culture)</small>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="PrerequisiteNSFW" class="form-check-input" />
                    <label asp-for="PrerequisiteNSFW">NSFW <span class="text-muted">Will filter LLM, TTS and STT that do not support NSFW content.</span></label>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.PrerequisiteNSFW)</small>
                </div>
                <div class="form-check">
                    <input type="checkbox" asp-for="PrerequisiteGPT3" class="form-check-input" />
                    <label asp-for="PrerequisiteGPT3">GPT3 <span class="text-muted">Will filter LLM, TTS and STT that do not support GPT3 content.</span></label>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.PrerequisiteGPT3)</small>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h2>Services</h2>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Character.Services.TextGen.Service">Text Generation Service</label>
                    <select asp-for="Character.Services.TextGen.Service" asp-items="@(new SelectList(Model.TextGenServices, nameof(OptionViewModel.Name), nameof(OptionViewModel.Label)))" class="form-control"></select>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Services.TextGen.Service)</small>
                </div>

                <div class="mb-3">
                    <label asp-for="Character.Services.SpeechGen.Service">Speech Generation Service</label>
                    <select asp-for="Character.Services.SpeechGen.Service" asp-items="@(new SelectList(Model.TextToSpeechServices, nameof(OptionViewModel.Name), nameof(OptionViewModel.Label)))" class="form-control"></select>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Services.SpeechGen.Service)</small>
                </div>

                <div class="mb-3">
                    <label asp-for="Character.Services.SpeechGen.Voice">Speech Generation Voice</label>
                    <select asp-for="Character.Services.SpeechGen.Voice" asp-items="@(new SelectList(Model.Voices, nameof(VoiceInfo.Id), nameof(VoiceInfo.Label)))" class="form-control"></select>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Services.SpeechGen.Voice)</small>
                </div>

                <div class="form-check">
                    <input asp-for="Character.Options!.EnableThinkingSpeech" type="checkbox" class="form-check-input"/>
                    <label asp-for="Character.Options!.EnableThinkingSpeech">Enable Thinking Speech: <span class="text-muted">Makes sounds when hearing speech, while a response is being generated.</span></label>
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Character.Options!.EnableThinkingSpeech)</small>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <a class="btn btn-secondary me-2" href="/characters/@Model.Character.Id/download" target="_blank"><i class="bi bi-cloud-arrow-down"></i> Download</a>
            @if (Model.Character.ReadOnly)
            {
                <input type="button" value="Save (Read Only)" class="btn btn-secondary" disabled="disabled" />
            }
            else
            {
                <button type="submit" class="btn btn-primary">Save</button>
            }
        </div>

        <div class="text-danger mt-3">
            @Html.ValidationSummary(false)
        </div>
    </form>
    
    <script type="text/javascript">
        const speechGenSelect = document.getElementById("Character_Services_SpeechGen_Service");
        const voicesSelect = document.getElementById("Character_Services_SpeechGen_Voice");
        const cultureInput = document.getElementById("Character_Culture");
        
        speechGenSelect.onchange = function() {
            const selectedService = this.value || 'None';
            voicesSelect.innerHTML = "";
            
            {
                const option = document.createElement("option");
                option.value = '';
                option.text = 'Loading...';
                voicesSelect.appendChild(option);
            }

            fetch('/tts/services/' + selectedService + '/voices?culture=' + cultureInput.value)
                .then(response => response.json())
                .then(data => {
                    voicesSelect.innerHTML = "";
                    data.forEach(function(voice) {
                        const option = document.createElement("option");
                        option.value = voice.id;
                        option.text = voice.label;
                        voicesSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    voicesSelect.innerHTML = "";
                    const option = document.createElement("option");
                    option.value = '';
                    option.text = 'Error (see console)';
                    voicesSelect.appendChild(option);
                });
        };
    </script>
</div>