@model Voxta.Abstractions.Model.ServerWelcomeMessage.CharactersListItem[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Character";
}

<div class="container py-3">
    <h1 class="mb-4">Characters</h1>
    
    <div class="card mb-3">
        <div class="card-header">
            <h2>Characters</h2>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Requirements</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    @foreach (var character in Model.OrderBy(x => x.ReadOnly).ThenBy(x => x.Name))
                    {
                        <tr>
                            <td>
                                @if (character.ReadOnly)
                                {
                                    <a class="btn btn-dark" href="/characters/@character.Id?edit=false" title="View">@character.Name</a>
                                }
                                else
                                {
                                    <a class="btn btn-dark" href="/characters/@character.Id?edit=true">@character.Name</a>
                                }
                                @if (character.ReadOnly)
                                {
                                    <span class="badge badge-secondary">built-in</span>
                                }
                            </td>
                            <td>
                                @character.Description
                            </td>
                            <td>
                                <span class="badge badge-secondary">@character.Culture</span>
                                @foreach(var prerequisite in character.Prerequisites)
                                {
                                    <span class="badge badge-dark">@prerequisite</span>
                                }
                            </td>
                            <td class="text-end">
                                <div class="d-flex gap-2 justify-content-end">
                                    @if (!character.ReadOnly)
                                    {
                                        <form action="/characters/delete" method="post">
                                            <input type="hidden" name="charId" value="@character.Id"/>
                                            <button type="submit" class="btn btn-danger" title="Delete"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    }
                                    <a class="btn btn-secondary" href="/characters/new?from=@character.Id" title="Clone">Clone</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Create New Character</h2>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td><span class="text-muted">Create a new blank character</span></td>
                        <td class="text-end">
                            @* ReSharper disable Html.PathError *@
                            <a class="btn btn-primary" href="/characters/new"><i class="bi bi-plus"></i> Create blank character</a>
                            @* ReSharper restore Html.PathError *@
                        </td>
                    </tr>

                    <tr>
                        <td><span class="text-muted">Upload a Tavern V2 card</span></td>
                        <td class="text-end">
                            <p>If you have a V1 card, you can convert it <a href="https://malfoyslastname.github.io/chara-card-utils-web/" target="_blank">here</a>.</p>
                            <form action="/characters/import" enctype="multipart/form-data" method="post">
                                <div class="mb-3">
                                    <input type="file" class="form-control" name="files" accept="image/png,application/json" />
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-arrow-up"></i> Upload and import</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
