@model Voxta.Server.ViewModels.Settings.ServiceLinksViewModel

<input type="hidden" id="orderedServices" name="orderedServices" />

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>
            @Model.Title
        </h2>
        <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp_@Model.Type" aria-expanded="false" aria-controls="collapseHelp_@Model.Type">
            <i class="bi bi-question-circle"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="collapse" id="collapseHelp_@Model.Type">
            @Html.Raw(Model.Help)
        </div>

        <h4>Order</h4>
        <div class="service-ordering list-group" data-servicetype="@Model.Type">
            @foreach (var service in Model.ServiceLinks.Where(x => x.Enabled))
            {
                <div id="@($"serviceLink__{Model.Type}_{service.ServiceName}_{service.ServiceId}")" class="service-ordering-item list-group-item" draggable="true" data-servicelink="@service.ServiceLinkString">
                    @service.ServiceName
                </div>
            }
        </div>
        
    </div>
</div>
